
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');
/*Fonts*/

/*Variable Globales*/
:root{
    --blanco:#ffffff;
    --amarillo:#FFF200;
    --negro1:#1E1E1E;
    --negro2:#414042;
    --negro3:#231F20;

    --bebas:'Bebas Neue', cursive;
    --oswald: 'Oswald', sans-serif;

    --altoNavBar:150px;

}
/*Variable Globales*/

body{
    font-family: var(--bebas);  
    background-color: #000;
}

/*Titulo se seccion genrico*/

.titulo{
    background-image: url('/assets/img/fondo_mosaico_titulo.svg');
    background-size: 140px;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.titulo__texto{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.titulo__texto-nombre{
    color:var(--amarillo);
    font-size: 3.5rem; 
}

.titulo__texto-descripcion{
    color:var(--blanco);
    font-size: 1.5rem;
    font-family: var(--oswald);
    text-transform: uppercase;
}

.titulo__img img{
    height: 65px;
    width: 65px;
}

.titulo__img{
    background-color: var(--amarillo);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Fin Titulo se seccion genrico*/

.categorias{
    background-color: #000;
}


.categorias__card{

    background-color: rgb(234, 242, 11);
    width: 250px;
    height: 350px;
    align-items: center;
    justify-content: space-around;
    
}

.enFilas{
    display:flex;
    flex-direction:row;
}

.enColumnas{
    display:flex;
    flex-direction:column;
}

.container{
    
    max-width: 1366px;  
    margin: 0 auto;
    justify-content: space-around;
    
 }

 .categorias__card-img{
   
    background-color: rgb(242, 103, 11);
    width: 200px;
    height: 200px;
    border-radius:50%;
 }

 .delivery{
    background-color: rgb(237, 26, 26);
}



.delivery__card-img{
    background-color: rgb(134, 11, 242);
    width: 200px;
    height: 200px;
    border-radius:50%;
}

.delivery__card{

    background-color: rgb(234, 242, 11);
    width: 350px;
    height: 350px;
    align-items: center;
    justify-content:space-around;
    
}

.delivery__partners{

    background-color: rgb(15, 191, 244);
    width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;

}

.delivery__texto{
    background-color: rgb(242, 11, 169);
    width: 100%;
    height: 100%;
    align-items:center;
    justify-content:space-around;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


/* NavBar */
header{
    background-color: var(--negro1);
}

.navbar{
    background-color: var(--negro1);
    color:var(--amarillo);
    height: var(--altoNavBar);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     
}

.navbar__logo{
    
    width: 250px;
    height: 250px;
    margin: 0px 0px 0px 60px;
    z-index: 999;
    padding: 30px 30px 0px 30px;
    background-color: var(--negro1);
    
}

.navbar__menu{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    width: 30%;
    justify-content: space-around;
    align-items: center;  
    font-size: 1.4rem; 
    font-family: var(--oswald);
    font-weight: 200;
}

.navbar a{
    color: var(--amarillo);
}

.navbar a:active{
    color: var(--amarillo);
}

.navbar a:visited{
    color: var(--amarillo);
}

.navbar a:hover{
    font-size: 1.7rem;
    transition: font-size 0.3s;
}



/* Fin NavBar */

/*Banner*/

.banner__img{
    display: flex;
    width: 100%;
}

/*Fin Banner*/

/*Promociones*/
.promociones__flex{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.promociones__card{
    width: 1000px;
    height: 175px;
    margin: 30px;
    display: flex;
    flex-direction: row;
}

.promociones__card-beneficio{
    background-color: var(--amarillo);
    height: 100%;
    width: 300px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0px 0px, 300px 0px, 240px 200px, 0px 200px);
    border-radius: 30px 0px 0px 30px;
    text-align: center;
}

.promociones__card-detalle{
    background-color: var(--negro2);
    height: 100%;
    width: 700px;
    clip-path: polygon(60px 0px, 700px 0px, 700px 200px, 0px 200px);
    margin-left:-45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:0px 10px 10px 50px;
    border-radius: 0px 30px 30px 0px;
}

.promociones__card-detalletexto{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

.promociones__card-detalletexto h5{
    margin: 5px;
    background-image: url("../assets/img/fondo_texto_destacado.png");
    background-image: cover;
    font-size: 2rem;
    padding-top: 4px;
    color:var(--amarillo);
}

.promociones__card-detalletexto p{
    margin: 5px;
    font-family: var(--oswald);
    font-size: 1.2rem;
    padding-top: 4px;
    color:var(--blanco);
    text-transform: uppercase;
    text-align: center;
}


/*Fin Promociones*/

/*Portada*/

.portada{
   
    position: relative;
    height: 400px;
    padding-bottom: 30px;
    background-size: cover !important;
}

.portada__img{
    display: flex;
    width: 100%;
    position: absolute;
}

.portada__contenido{
    position:absolute;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;

    
}

.portada__titulo{
    font-size: 5rem;
    color:var(--amarillo);
}

.portada__hr{
    width: 100px;
    background-color: var(--amarillo);
    height: 6px;

}

.portada__texto{
    margin: 15px;
    text-align: center;
    color: var(--blanco);
    font-size: 1.5rem;
    font-family: var(--oswald);
    font-weight: 400;
    text-transform: uppercase;
    width: 60%;
}

/*Fin Portada*/

/*Menu*/
.burger__card__texto{
    color: var(--blanco);
}

.burger__card__texto-nombre{
    color: var(--amarillo);
    font-size: 1.5rem;
}
.birra__card__texto{
    color: var(--blanco);
}
.birra__card__texto-nombre{
    color: var(--amarillo);
    font-size: 1.5rem;
}
.snack__card__texto{
    color: var(--blanco);
}
.snack__card__texto-nombre{
    color: var(--amarillo);
    font-size: 1.5rem;
}