
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');
/*Fonts*/

/*Variable Globales*/
:root{
    --blanco:#ffffff;
    --amarillo:#FFF200;
    --negro1:#1E1E1E;
    --negro2:#414042;
    --negro3:#231F20;
    --gris1:#6D6E71;
    --bebas:'Bebas Neue', cursive;
    --oswald: 'Oswald', sans-serif;

    --altoNavBar:150px;

}
/*Variable Globales*/

body{
    font-family: var(--bebas);  
    background-color: #000;
}

/*Titulo de seccion generico*/

.titulo{
    background-image: url('../assets/img/fondo_mosaico_titulo.svg');
    background-size: 140px;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.titulo__texto{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.titulo__texto-nombre{
    color:var(--amarillo);
    font-size: 3.5rem; 
}

.titulo__texto-descripcion{
    color:var(--blanco);
    font-size: 1.5rem;
    font-family: var(--oswald);
    text-transform: uppercase;
}

.titulo__img img{
    height: 65px;
    width: 65px;
}

.titulo__img{
    background-color: var(--amarillo);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Fin Titulo de seccion generico*/

.container{
    
    max-width: 1366px;  
    margin: 0 auto;
    justify-content: space-around;
    
 }

 /*categorias*/

 .categorias__flex{

    display:flex;
    flex-direction:row;

 }

 .categorias__card-img{
    background-color: var(--amarillo);
    width: 175px;
    height: 175px;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
 }

 .categorias__card-texto{
    font-family: var(--oswald);
    font-size: 2.1rem;
    color:var(--amarillo);

 }

 .categorias{
    background-image: url('../assets/img/fondo_mosaico_titulo.svg');
    background-size: 140px;
    height: 180px;
 }

.categorias__card{
    width: 250px;
    height: 240px;
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
   
 /*Fin categorias*/

 /* Delivery */

 .delivery{
    background-color:var(--negro3);
    padding-bottom: 10px;
}

.delivery__card-img{
    width: 200px;
    height: 200px;
}

.delivery__card{

    background-color: var(--negro3);
    width: 550px;
    height: 230px;
    align-items: center;
    justify-content:space-around;
    
}

.delivery__partners{

    background-color: var(--negro3);
    max-width: 1366px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;

}

.delivery__card-detalle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left:-70px;
}

.delivery__flex{
    display:flex;
    flex-direction:row;
}

.delivery__flex__columnas{
    display:flex;
    flex-direction:column;
}


.delivery__card-titulo{
    font-family: var(--oswald);
    font-size: 2.1rem;
    color:var(--blanco);
    margin: 0% 0% 6% 20%;
}

.delivery__card-button{
    background-color:var(--amarillo);
    border: none;
    color: var(--negro1);
    padding: 10px 85px 10px 20px;
    text-align: center;
    text-decoration: none;
    font-family: var(--bebas);
    display: inline-block;
    font-size: 30px;
    margin: 0px 0px 0px 50px;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
          
}

.delivery__card-button:hover{
    background-color:rgb(142, 142, 12);
}

.delivery__card-border{
    border: 1.5px solid var(--amarillo);
    border-radius: 50px;
    padding: 5px;
}

/*Fin Delivery */

/* NavBar */
header{
    background-color: var(--negro1);
}

.navbar{
    background-color: var(--negro1);
    color:var(--amarillo);
    height: var(--altoNavBar);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     
}

.navbar__logo{
    
    width: 250px;
    height: 250px;
    margin: 0px 0px 0px 60px;
    z-index: 999;
    padding: 30px 30px 0px 30px;
    background-color: var(--negro1);
    
}

.navbar__menu{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    width: 30%;
    justify-content: space-around;
    align-items: center;  
    font-size: 1.4rem; 
    font-family: var(--oswald);
    font-weight: 200;
}

 a{
    color: var(--amarillo);
}

a:active{
    color: var(--amarillo);
}

 a:visited{
    color: var(--amarillo);
}

.navbar a:hover{
    font-size: 1.7rem;
    transition: font-size 0.3s;
}



/* Fin NavBar */

/*Banner*/

.banner__img{
    display: flex;
    width: 100%;
}

/*Fin Banner*/

/*Promociones*/
.promociones{
    background-color:var(--negro2);
    padding-top: 15px;
 

}
.promociones__flex{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.promociones__card{
    width: 1000px;
    height: 175px;
    margin: 30px;
    display: flex;
    flex-direction: row;
}

.promociones__card-beneficio{
    background-color: var(--amarillo);
    height: 100%;
    width: 300px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0px 0px, 300px 0px, 240px 200px, 0px 200px);
    border-radius: 30px 0px 0px 30px;
    text-align: center;
}

.promociones__card-detalle{
    background-color: var(--negro1);
    height: 100%;
    width: 700px;
    clip-path: polygon(60px 0px, 700px 0px, 700px 200px, 0px 200px);
    margin-left:-45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:0px 10px 10px 50px;
    border-radius: 0px 30px 30px 0px;
}

.promociones__card-detalletexto{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

.promociones__card-detalletexto h5{
    margin: 5px;
    background-image: url("../assets/img/fondo_texto_destacado.png");
    background-image: cover;
    font-size: 2rem;
    padding-top: 4px;
    color:var(--amarillo);
}

.promociones__card-detalletexto p{
    margin: 5px;
    font-family: var(--oswald);
    font-size: 1.2rem;
    padding-top: 4px;
    color:var(--blanco);
    text-transform: uppercase;
    text-align: center;
}


/*Fin Promociones*/

/*Portada*/

.portada{
   
    position: relative;
    height: 400px;
    padding-bottom: 30px;
    background-size: cover !important;
}

.portada__img{
    display: flex;
    width: 100%;
    position: absolute;
}

.portada__contenido{
    position:absolute;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;

    
}

.portada__titulo{
    font-size: 5rem;
    color:var(--amarillo);
}

.portada__hr{
    width: 100px;
    background-color: var(--amarillo);
    height: 6px;

}

.portada__texto{
    margin: 15px;
    text-align: center;
    color: var(--blanco);
    font-size: 1.5rem;
    font-family: var(--oswald);
    font-weight: 400;
    text-transform: uppercase;
    width: 60%;
}

/*Fin Portada*/

/*Menu*/
.menu__flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.burger__card{
    width: 250px;
    height: 300px;
    background-color: var(--gris1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20%;
    margin: 100px 100px 0 100px;
    align-items: center;
}
.burger__card__texto{
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 0 15px;
    margin-top: -15px;
}
/*controlar calidad imagen hamburguesas*/
.burger__card__img{
    margin-top: -100px;
}

.menu__card__texto-nombre{
    color: var(--amarillo);
    font-size: 3.5rem;

}
.menu__card__texto-descripcion{
    font-family: var(--oswald);
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
}
.burger{
background-color: var(--negro2);
padding-top: 40px;
padding-bottom: 80px;
border-bottom: 6px solid var(--amarillo);
}
.snacks{
    background-color: var(--negro3);
    padding-top: 40px;
    padding-bottom: 80px;
    border-bottom: 6px solid var(--amarillo);
}
.birra{
    padding-top: 40px;
    padding-bottom: 40px;
}
.birra__card{
    display: flex;
    width: 30%;
    height: 300px;
    align-items: center;
    padding: 60px 0 40px 0;

}
.birra__card__texto{
    color: var(--blanco);
    margin-left: -20px;
}
.birra__card__texto-nombre{
    color: var(--amarillo);
    font-size: 2rem;    
}
.birra__card__texto-descripcion{
    font-family: var(--oswald);
    font-size: 1.3rem;
    font-weight: 200;
}
.snack__card{
    width: 280px;
    height: 200px;
    background-color: var(--gris1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20%;
    margin: 140px 80px 0 80px;
    align-items: center;
}
.snack__card__texto{
    color: var(--blanco);
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 0 15px;
    margin-top: -25px;
}
.snack__card__img{
    margin-top: -150px;
}
.snack__card__texto-nombre{
    color: var(--amarillo);
    font-size: 1.5rem;
}/*Fin Menu*/

/*Footer*/

footer{
    border-top: 6px solid var(--amarillo);
}

.footer__flex{
    color:var(--blanco);
    display: flex;
    justify-content: space-between;
    padding: 70px 0 70px 0;
    
}

.footer__columna{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
}

.footer__columna-lista{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.footer__marca-img{
    width: 100px;
    height: 100px;
}

.footer__marca-texto{
    font-weight: 200;
    font-family: var(--oswald);
    font-size: 1.4rem;
}



.footer__columna-titulo{
    font-size: 2.5rem;
    
}

.footer__columna-item{
    font-size: 1.2rem;
    font-family: var(--oswald);
    font-weight: 200;
    margin-top: 10px;

}

.footer__columna-item i{
    color: var(--amarillo);
    margin-right: 15px;
}

.footer__columna-listaredes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    color: var(--amarillo);
    font-size: large;
}


/*Fin Footer*/

/*Inicio Nosotros*/

.nosotros__texto-simple{
    color: var(--blanco);
    font-family: var(--oswald);
    font-size: 1.2rem;
    font: weight 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nosotros__texto-destacado{
    color: var(--amarillo);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0 10px;
}

.container__nosotros-flex{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
/*Fin Nosotros*/

/*Inicio Contacto*/
.contacto__flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

 .contacto__vias{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: flex-start;
    align-items: flex;
 }

 .contacto__vias-titulo{
        font-size: 2rem;
        color:var(--amarillo);
 }
 
 .contacto__vias-texto{
    font-size: 1.3rem;
    font-family: var(--oswald);
    color:var(--blanco);
    padding-top: 10px;
    padding-bottom: 25px;
    line-height: 30px;
}

.contacto__form{
    display: flex;
    flex-direction: column;
   
 }
 .contacto__form:last-child{
    align-items: flex-end;
}
 .contacto__group{
    width:100%;
    flex-direction: column;
    margin-bottom: 20px;
 }

 .contacto__form-label{
    width:100%;
    font-family: var(--oswald);
    color:var(--amarillo);
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 10px;
 }

 .contacto__form-input{
    width:100%; 
    background-color:var(--negro3);
    border:none;
    border-bottom:1px solid var(--amarillo);
    height:35px;
    color: var(--blanco);
 }
 
 .contacto{
    padding-top: 70px;
    padding-bottom: 30px;
 }

 .contacto__textArea{
    resize: none;
    height:125px;
}

.contacto__button{
    width:30%;
    float: right;
    background-color:var(--amarillo);
    border: none;
    color: var(--negro1);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-family: var(--bebas);
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;     
}

.contacto__button:hover{
    background-color:rgb(142, 142, 12);
}

/*Fin Contacto*/

/*Inicio Mapa*/

.mapa{
    padding-top: 70px;
    padding-bottom: 30px;
}
.mapa__flex{
    display: flex;
    align-items: center;
}

/*Fin Mapa*/