
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');
/*Fonts*/

/*Variable Globales*/
:root{
    --amarillo:#FFF200;
    --negro1:#1E1E1E;
    --negro2:#414042;
    --negro3:#231F20;

    --bebas:'Bebas Neue', cursive;
    --oswald: 'Oswald', sans-serif;

}
/*Variable Globales*/

body{
    font-family: var(--bebas);  
    background-color: #000;
}

.titulo{

    background-image: url('/assets/fondo_mosaico_titulo.svg');
    background-size: 140px;
    height: 180px;
    font-size: 5rem;
    color: var(--amarillo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.categorias{
    background-color: #000;
}


.categorias__card{

    background-color: rgb(234, 242, 11);
    width: 250px;
    height: 350px;
    align-items: center;
    justify-content: space-around;
    
}

.enFilas{
    display:flex;
    flex-direction:row;
}

.enColumnas{
    display:flex;
    flex-direction:column;
}

.container{
    background-color: rgb(0, 255, 0);
    max-width: 1366px;  
    margin: 0 auto;
    justify-content: space-around;
    
 }

 .categorias__card-img{
   
    background-color: rgb(242, 103, 11);
    width: 200px;
    height: 200px;
    border-radius:50%;
 }

 .delivery{
    background-color: rgb(237, 26, 26);
}



.delivery__card-img{
    background-color: rgb(134, 11, 242);
    width: 200px;
    height: 200px;
    border-radius:50%;
}

.delivery__card{

    background-color: rgb(234, 242, 11);
    width: 350px;
    height: 350px;
    align-items: center;
    justify-content:space-around;
    
}

.delivery__partners{

    background-color: rgb(15, 191, 244);
    width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;

}

.delivery__texto{
    background-color: rgb(242, 11, 169);
    width: 100%;
    height: 100%;
    align-items:center;
    justify-content:space-around;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


/* NavBar */
header{
    background-color: var(--negro1);
}

.navbar{
    background-color: var(--negro1);
    color:var(--amarillo);
    height: 150px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     
}

.navbar__logo{
    
    width: 250px;
    height: 250px;
    margin: 0px 0px 0px 60px;
    z-index: 999;
    padding: 30px 30px 0px 30px;
    background-color: var(--negro1);
    
}

.navbar__menu{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    width: 30%;
    justify-content: space-around;
    align-items: center;  
    font-size: 1.4rem; 
    font-family: var(--oswald);
    font-weight: 200;
}

.navbar a:active{
    color: var(--amarillo);
}

.navbar a:visited{
    color: var(--amarillo);
}

.navbar a:hover{
    font-size: 1.7rem;
    transition: font-size 0.3s;
}



/* Fin NavBar */

/*Banner*/

.banner__img{
    display: flex;
    width: 100%;
}

/*Fin Banner*/

